.mbr-blog__main-post{
  color: @dark;
  img{
    width: 100%;
    margin-top: 20px;
  }
  span{
    margin: 40px 0;
    display: block;
    color: @bronse;
  }
  h1{
    margin-bottom: 90px;
    color: @dark;
  }
}
.mbr-blog__post{
  color: @dark;
  min-height: 700px;
  h1{
    margin-bottom: 50px;
    color: @dark;
  }
  img{
    width: 100%;
  }
  span{
    margin: 30px 0;
    display: block;
    color: @bronse;
  }
}