/* GENERAL TAGS */

body{
  background-color: @dark;
  color: @white;
  font-size: 16px;
  font-weight: 400;
  @media screen and (max-width: @screen-desktop){
    font-size: 14px;
  }
}
a{
  color: @white;
  &:hover{
    color:@bronse;
    text-decoration: inherit;
  }
}
h1,h2,h3,h4,h5,h6{
  color: @bronse;
}
h1{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  @media screen and (max-width: @screen-desktop){
    font-size: 24px;
  }
}

/* GENERAL CLASSES */
.mbr-container{
  width: @container-width;
  margin: 0 10px;
}
.mbr-header{
  width: 100%;
  height: @menu-height*2;
  background-color: transparent;
  padding: 58px 30px;
  @media screen and (max-width: @screen-desktop){
    height: @menu-height;
    padding: 23px 30px;
  }
}
.mbr-header__logo{
  width: 145px;
  float: left;
}
.mbr-nav{
  float: right;
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    display: inline-block;
    border-right: 1px solid @bronse;
    padding: 2px 27px;
    text-transform: uppercase;
    &:last-child{
      border:0;
    }
  }
}
.mbr-hr{
  width: 100%;
  margin: 0 0 20px;
  height: 2px;
  border-top: 2px solid;
  border-color: @bronse;
  color: @bronse;
  size: 2px;
  &--black{
    border-color: @dark;
    color: @dark;
  }
}
.mbr-footer__list{
  list-style: none;
  padding: 0;
  &--socials{
    text-decoration: underline;
  }
}
.mbr-footer__logo-row{
  padding: 30px 0 40px 0;
}
.mbr-footer__links{
  padding-bottom: 40px;
}
.mbr-form{
  margin-bottom: 40px;
  .form-control{
    min-height: 60px;
    margin-bottom: 31px;
    border: 0;
    border-radius: 0;
    &:focus{
      box-shadow: none;
    }
  }
}
.mbr-btn{
  background-color: transparent;
  border: 2px solid @bronse;
  border-radius: 0;
  color: @white;
  padding: 27px 100px 29px;
  text-transform: uppercase;
  &:hover{
    color: @dark;
    background-color: @bronse;
  }
}
// CSS STYLES CLASSES

.underline{
  text-decoration: underline;
}
.nomargin{
  margin: 0;
}
.nopadding{
  padding: 0;
}
.padding-top{
  padding-top: @grid-padding*2;
}
.fullwidth{
  width: 100%;
}
.bg-light-grey{
  background-color: @light-grey;
}