.mbr-find-answer{
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  height: 80px;
  width: @container-width;
  img{
    margin: 0 10px;
    &:nth-child(1){
      float: left;
    }
    &:nth-child(3){
      float: right;
    }
  }
}
.mbr-portfolio__first-block{
  width: 100%;
  display: inline-flex;
  img{
    width: 100%;
  }
  .mbr-portfolio__item{
    padding: 10px;
  }
  .small-block{
    display: inline-flex;
  }
}
.mbr-portfolio__center-block{
  width: 100%;
  display: inline-flex;
  img{
    width: 100%;
  }
  .mbr-portfolio__item{
    padding: 10px;
    &:nth-child(2){
      flex-grow: 2;
    }
  }
}
.mbr-portfolio__left-block{
  width: 100%;
  display: inline-flex;
  img{
    width: 100%;
  }
  .mbr-portfolio__item{
    padding: 10px;
    &:nth-child(1){
      flex-grow: 2;
    }
  }
}
.mbr-portfolio__right-block{
  width: 100%;
  display: inline-flex;
  img{
    width: 100%;
  }
  .mbr-portfolio__item{
    padding: 10px;
    &:nth-child(3){
      flex-grow: 2;
    }
  }
}
#mbr-clients-slider{
  height: 600px;
  padding: 200px 0;
  .owl-item{
    height: 100%;
    padding: 0 100px;
  }
  img{
    width: 100%;
  }
}

