#down-btn{
  position: absolute;
  top: @menu-height*2;
  left: 30px;
  cursor: pointer;
  color: @bronse;
  font-size: 20px;
  @media screen and (max-width: @screen-desktop){
    top: @menu-height;
    font-size: 16px;
  }
  transition: all 500ms;
  &:hover{
    // filter: blur(3px);
    text-decoration: underline;
  }
}
#mbr-main-anim{
  height: ~"calc(100vh - 140px)";
  @media screen and (max-width: @screen-desktop){
    height: ~"calc(100vh - 70px)";
  }
  @media screen and (max-width: @screen-mobile){
    display: none;
  }
}
#mbr-video-main{
  position: fixed;
  z-index: -100;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  // height: 100vh;
  min-height: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@-webkit-keyframes slide_down {
  from {  }
  to {  }
}
@-o-keyframes slide_down {
  from {  }
  to {  }
}
@-moz-keyframes slide_down {
  from {  }
  to {  }
}
@keyframes slide_down {
  from { transform: translateY(0px) }
  to { transform: translateY(55px) }
}

//grid styles
.mbr-portfolio{
  width: 100%;
  display: inline-block;
  .mbr-portfolio__item{
    float: left;
    display: inline-block;
    overflow: hidden;
  }

}
.mbr-find-answer{
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  height: 80px;
  width: @container-width;
  img{
    margin: 0 10px;
    // animation: slide_down 1.5s linear infinite;
    // &:nth-child(1){
    //   float: left;
    //   // animation-delay: 0.5s;
    // }
    // &:nth-child(3){
    //   float: right;
    //   // animation-delay: 1s;
    // }
  }
}
// .mbr-portfolio__first-block{
//   width: 100%;
//   display: inline-flex;
//   img{
//     width: 100%;
//   }
//   .mbr-portfolio__item{
//     padding: 10px;
//   }
//   .small-block{
//     display: inline-flex;
//   }
// }
// .mbr-portfolio__center-block{
//   width: 100%;
//   display: inline-flex;
//   img{
//     width: 100%;
//   }
//   .mbr-portfolio__item{
//     padding: 10px;
//     &:nth-child(2){
//       flex-grow: 2;
//     }
//   }
// }
// .mbr-portfolio__left-block{
//   width: 100%;
//   display: inline-flex;
//   img{
//     width: 100%;
//   }
//   .mbr-portfolio__item{
//     padding: 10px;
//     &:nth-child(1){
//       flex-grow: 2;
//     }
//   }
// }
// .mbr-portfolio__right-block{
//   width: 100%;
//   display: inline-flex;
//   img{
//     width: 100%;
//   }
//   .mbr-portfolio__item{
//     padding: 10px;
//     &:nth-child(3){
//       flex-grow: 2;
//     }
//   }
// }
//content styles
.mbr-portfolio__item{
  // background-color: gray;
  .pic{
    width: 100%;
    transition: all 400ms;
    @media screen and (max-width: @screen-tablet){
      opacity: 0.1;
      transform: scale(1.1);
      // filter: blur(4px);
    }
  }
  position: relative;
  &:hover .pic{
    opacity: 0.1;
    transform: scale(1.1);
    filter: blur(4px);
    @media screen and (max-width: @screen-mobile){
      filter: none;
    }
  }
  .onhover{
    display: none;
    position: absolute;
    margin: auto;
    width: 30%;
    max-height: 50%;
    top: 0;
    bottom: 0;
    left: 20%;
    @media screen and (max-width: @screen-desktop){
      width: 70%;
      left: 10%;
      max-height: 70%;
    }
    @media screen and (max-width: @screen-tablet){
      display: block;
      left: 30px;
      top: 30px;
      margin: 0;
    }
    @media screen and (max-width: @screen-mobile){
      position: relative;
      display: block;
      left: initial;
      top: initial;
      margin: 0;
      margin-top: 30px;
      width: 100%;
      height: auto;
      max-height: initial;
    }
    .mbr-h3{
      margin: 0 0 10px;
    }
    &.active{
      display: block;
    }
    &.small{
      width: 50%;
      height: 50%;
      left: 50px;
      top: 30px;
      bottom: initial;
      @media screen and (max-width: @screen-desktop){
        width: 80%;
        height: 80%;
        left: 25px;
        top: 10px;
      }
      @media screen and (max-width: @screen-tablet){
        font-size: 100%;
        width: 70%;
        left: 30px;
        max-height: 70%;
        position: absolute;
        // margin: auto;
        top: 30px;
      }
      @media screen and (max-width: @screen-mobile){
        position: relative;
        display: block;
        left: initial;
        top: initial;
        margin: 0;
        margin-top: 30px;
        width: 100%;
        height: auto;
        max-height: initial;
      }
    }
  }
  .article{
    width: 100%;
    height: 100%;
    border: 2px solid @bronse;
    padding: 30px 50px;
    .desc{
      width: 50%;
      @media screen and (max-width: @screen-desktop){
        width: 66%;
      }
      @media screen and (max-width: @screen-tablet){
        width: 100%;
      }
    }
    .mbr-h3{
      margin: 0 0 10px;
    }
    @media screen and (max-width: @screen-desktop){
      padding: 20px 30px;
    }
    @media screen and (max-width: @screen-tablet){
      padding: 30px 30px;
    }
    .more{
      @media screen and (max-width: @screen-mobile){
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: initial;
        margin: auto;
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (max-width: @screen-mobile){
      padding: 20px 25px;
    }
  }
  .desc{
    color: @white;
  }
  .arrow{
    width: 20px;
    height: 7px;
    transition: all 500ms;
    // display: none;
    transition-delay: 250ms;
  }
  .more{
    @media screen and (max-width: @screen-mobile){
      position: absolute;
      right: 0;
      top: 10px;
    }
    &>span{
      // display: none;
      opacity: 0;
      transition: all 500ms;
      transition-delay: 0ms;
      position: relative;
      left: -25px;
    }
    &:hover{
      &>span{
        // display: inline;
        opacity: 1;
        transition-delay: 250ms;
        // transform: translateX(-20px);

      }
      &>.arrow{
        // display: none;
        opacity: 0;
        transition-delay: 0ms;
        transform: translateX(40px);
      }
    }
  }
}
@slider-height-lg : 600px;
@slider-height-md : 400px;

#mbr-clients-slider{
  height: @slider-height-lg;
  padding: @slider-height-lg/3 0;
  .owl-item{
    height: @slider-height-lg/3;
    // padding: 0 100px;
    div{
      height: @slider-height-lg/3;
      @media screen and (max-width: @screen-desktop){
        height: @slider-height-md/3;
      }
    }
    @media screen and (max-width: @screen-desktop){
      // padding: 0 50px;
      height: @slider-height-md/3;
    }
  }
  img{
    height: 100%;
  }
  @media screen and (max-width: @screen-desktop){
    height: @slider-height-md;
    padding: @slider-height-md/3 0;
  }
}
.mbr-clients{
  margin: 150px 0;
  &>div{
    text-align: center;
    vertical-align: middle;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: center;
    margin: 50px 0;
    height: 225px;
    @media screen and (max-width: @screen-desktop){
      margin: 25px 0;
      padding: 0 25px;
    }
    @media screen and (max-width: @screen-mobile){
      height: 100px;
    }
  }
  img{
    max-width: 50%;
    max-height: 100%;
  }
  @media screen and (max-width: @screen-desktop){
    margin: 75px 0;
  }
}
#mbr-main-private{
  height: ~"calc(100vh - @{menu-height}*2)";
  position: relative;
  display: table;
  width: 100%;
  @media screen and (max-width: @screen-desktop){
    height: ~"calc(100vh - @{menu-height})";
  }
  .shuffle{
    font-family: "HelveticaLight";
    // font-weight: 300;
    font-size: 150px;
    // width: 100%;
    color: @bronse;
    display: table;
    justify-content: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    // transition: all 1s;
    // line-height: 150;
    // position: absolute;
    // margin: auto;
    // bottom: 0;
    // top: 0;
    // right: 0;
    // left: 0;
    
    &>div{
      padding: 31px 40px 0px;
      display: inline;
      cursor: pointer;
      @media screen and (max-width: @screen-desktop){
        padding: 20px 37px 0px;
      }    
      @media screen and (max-width: @screen-tablet){
        padding: 15px 37px 5px;
      }
      @media screen and (max-width: @screen-mobile){
        padding: 10px 37px 5px;
      }
      &:first-child{
        @media screen and (max-width: @screen-tablet){
          position: relative;
          top: -50px;
          display: block;
        }
        @media screen and (max-width: @screen-mobile){
          position: relative;
          top: -30px;
          display: block;
        }
      }
      &:last-child{
        border: 5px solid @bronse;
        @media screen and (max-width: @screen-desktop){
          border: 2px solid @bronse;
        }
      }
    }
    @media screen and (max-width: @screen-desktop){
      font-size: 75px;
    }
    @media screen and (max-width: @screen-tablet){
      font-size: 50px;
    }
    @media screen and (max-width: @screen-mobile){
      font-size: 34px;
    }
  }
}
.inline{
  display: inline;
}


