.mbr-project{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 134px 0 245px;
  ul{
    // list-style: none;
    // padding: 0;
  }
  h1{
    margin-bottom: 47px;
  }
  h2{
    font-family: "Helvetica";
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 80px;
    @media screen and (max-width: @screen-desktop){
      font-size: 24px;
      margin-bottom: 47px;
    }
  }
  h3{
    font-family: "ClearSansLight";
    font-size: 24px;
    @media screen and (max-width: @screen-desktop){
      font-size: 16px;
    }
  }
  .content{
    margin-bottom: 64px;
    font-size: 22px;
    @media screen and (max-width: @screen-desktop){
      font-size: 16px;
    }
  }
  .col-xs-12{
    @media screen and (max-width: @screen-mobile){
      padding: 0;
      margin-left: -10px;
      width: 100vw;
    }
  }
  img{
    width: 100%;
  }
  label{
    max-width: 490px;
    margin-top: 30px;
    @media screen and (max-width: @screen-mobile){
      font-size: 12px;
      margin: 15px 100px 40px 20px;
    }
  }
  @media screen and (max-width: @screen-desktop){
    padding: 80px 0 94px;
  }
  @media screen and (max-width: @screen-mobile){
    padding: 0px 10px;
    padding-top: 20px;
  }
  .row{
    position: relative;
    z-index: 1000;
  }
  &.nopadding{
    padding-bottom: 0;
  }
}
.mbr-slide-backgrounds{
  position: absolute;
  z-index: 900;
  top: 0;
  width: 100%;
  height: 100%;
  img{
    width: initial;
  }
  .background{
    position: absolute;
  }
}
.mbr-project__start-banner{
  background-image: url("@{img_path}/test/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  // min-height: 945px;
  height: ~"calc(100vh - 140px)";
  // margin-left: -@grid-padding;
  &>div{
    padding-top: 300px;
    // max-width: 450px;
    @media screen and (max-width: @screen-mobile){
      padding: 0 40px;
      padding-top: 80px;
    }
  }
  @media screen and (max-width: @screen-desktop){
    height: ~"calc(100vh - 70px)";
  }
  @media screen and (max-width: @screen-tablet){
    height: 100vw;
    background-attachment: scroll;
  }
  @media screen and (max-width: @screen-mobile){
    height: 100vw;
    background-attachment: scroll;
  }
}
.mbr-project__steps{
  background-color: @dark-light;
  padding: 54px 0 124px;
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    cursor: pointer;
    margin-bottom: 10px;
  }
  h2{
    margin-bottom: 50px;
    @media screen and (max-width: @screen-mobile){
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: @screen-mobile){
    padding-top: 0;
  }
  &>div{
    @media screen and (max-width: @screen-mobile){
      margin-top: 40px;
    }
  }
}
@-webkit-keyframes move-right {
  from {  }
  to {  }
}
@-o-keyframes move-right {
  from {  }
  to {  }
}
@-moz-keyframes move-right {
  from {  }
  to {  }
}
@keyframes move-right {
  0% { background-position: 30% 50%; }
  100% { background-position: 50% 50%; }
  // 100% { background-position: 50% 50%; }
}
@-webkit-keyframes move-left {
  from {  }
  to {  }
}
@-o-keyframes move-left {
  from {  }
  to {  }
}
@-moz-keyframes move-left {
  from {  }
  to {  }
}
@keyframes move-left {
  0% { background-position: 70% 50%; }
  100% { background-position: 50% 50%; }
  // 100% { background-position: 50% 50%; }
}
.mbr-project-slider{
  .item{
    width: 100%;
    background-image: url(../img/images/1680x900.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: @screen-mobile){
      height: 100vw;
    }
  }
  img{
    width: 100%;
    opacity: 0;
  }
}
.mbr-project-slider{
  .owl-nav>div{
    position: absolute;
    height: 100%;
    width: 240px;
    top: 0;
    left: -240px;
    background-position: 70% 50%;
    background-size: 37px;
    background-repeat: no-repeat;
    background-image: url(../img/svg/arrow-left-bronse.svg);
    cursor: pointer;
    // transition: all 1s;
    &:hover{
      animation: move-left 2s infinite;
      // background-position: 30% 50%;
    }
    &:last-child{
      left: initial;
      right: -240px;
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      @media screen and (max-width: @screen-desktop){
        width: 100px;
        right: -100px;
      }
      @media screen and (max-width: @screen-mobile){
        width: 50vw;
        height: 50px;
        right: 0px;
        top: -50px;
        background-size: 23px;
      }
    }
    @media screen and (max-width: @screen-desktop){
      width: 100px; 
      left: -100px;
      background-size: 23px;
    }
    @media screen and (max-width: @screen-mobile){
      width: 50vw;
      height: 50px;
      left: 0px;
      top: -50px;
      background-size: 23px;
    }
  }
  // .owl-next{
  //   &:hover{
  //     animation: move-left 2s infinite;
  //   }
  // }
  // .owl-prev{
  //   &:hover{
  //     animation: move-left 2s infinite;
  //   }
  // }
}
.mbr-project__single-img{
  .placehold-image{
    @media screen and (max-width: @screen-mobile){
      height: 100vw;
    }
  }
}
.mbr-project__light{
  background-color: @light-grey;
  color: @dark;
  h1{
    color: @bronse;
  }
  h2{
    color: @dark;
  }
  .mbr-project-slider .owl-nav>div{
    background-image: url(../img/svg/arrow-left-dark.svg);
  }
}
.mbr-project__dark{
  background-color: @dark-light;
  color: @grey;
  h1{
    color: @bronse;
  }
  h2{
    color: @bronse;
  }
}
.mbr-project__double-imgs{
  &>div{
    padding: 0;
    &:first-child{
      padding-right: 10px;
      @media screen and (max-width: @screen-mobile){
        padding: 0;
      }
    }
    &:last-child{
      padding-left: 10px;
      @media screen and (max-width: @screen-mobile){
        padding: 0;
      }
    }
  }
}
#mbr-project__timeline{
  position: fixed;
  display: none;
  top: 105px;
  left: 40px;
  color: @grey-neutral;
  z-index: 1000;
  max-width: 250px;
  ul{
    list-style: none;
    padding: 0;
    border-left: 2px solid @grey-neutral;
  }
  li{
    margin-bottom: 100px;
    border-left: 6px solid @grey-neutral;
    padding-left: 23px;
    margin-left: -4px;
    cursor: pointer;
    transition: all 500ms ease;
    &.active{
      color: @bronse;
      border-color: @bronse-neutral;
      font-size: 20px;
      @media screen and (max-width: @screen-desktop){
        font-size: 16px;
      }
    }
    &:hover{
      color: @bronse;
    }
    &:last-child{
      margin-bottom: 0;
    }
    @media screen and (max-width: @screen-desktop){
      margin-bottom: 30px;
      font-size: 14px;
      // max-width: 120px;
    }
  }
  .controls{
    display: block;
    div{
      position: absolute;
      left: -14px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
  .controls .prev{
    top: -30px;
    // left: -3px;
    // @media screen and (max-width: @screen-tablet){
    //   top: 0;
    // }
  }
  .controls .next{
    bottom: -30px;
    // left: -5px;
    // @media screen and (max-width: @screen-tablet){
    //   bottom: -12px;
    //   left: -3px;
    // }
  }
  // @media screen and (max-width: @screen-tablet){
  //   padding-top: 50px;
  //   .controls{
  //     display: block;
  //   }
  // }
}