/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/

/* Third party */
@fa-font-path:        "./fonts"; // Path to fonts in Font-Awesome


/* Paths */
@svg_path: "../img/svg/";
@img_path: "../img/images/";

/* COLORS */
@bronse: #e1bb9a;
@dark: #212121;
@white: #fefefe;

/* FIXED SIZES */

@menu-height: 70px;
@img-12: 2410px;
@img-8: 1595px;
@img-6: 1180px;
@img-4: 770px;
@img-3: 565px;
@img-slider: 850px;
@img-baner: 950px;
@container-padding: 10px;
@row-padding: 10px;
@grid-padding: 10px;

/* CALC SIZES */

@container-width: ~"calc(100% - "@container-padding*2~")";

/* SCREENS */
// 320px < mobile < 768px width
// 768px < pad < 1024px width
// 1024px < desktop < 1600px width
// 1600px < hd-desktop  width

@screen-desktop: 1600px;
@screen-pad: 1024px;
@screen-mobile: 768px;